---
---

<div class="row">
    <div class="row-container w-full px-gap2 lg:container z-10">
      <div class="columns-wrapper flex -mx-gap flex-wrap md:pt-4 md:pb-4 pb-0 pt-3">
        <div class="column px-gap whitespace-pre-wrap md:w-12/12 w-12/12 text-center">
          <h2>Información confiable y datos accionables sobre todos tus activos</h2>
        </div>
        <div class="container block w-full tabs tabs--scroll-icon">
          <div class="-mx-gap flex flex-wrap justify-center">
            <ul class="flex w-full flex-col items-center justify-center md:flex-row">
              <li class="p--xs scroll-link flex items-center py-space text-center font-bold uppercase tracking-wide text-blue-dark hover:text-blue md:block">
                <a href="#locationtracking" class="flex items-center md:block">
                  <img 
                    width="65" 
                    height="65" 
                    alt="location-01" 
                    loading="lazy" 
                    src="https://images.ctfassets.net/bx9krvy0u3sx/6lSoSe4XuPNjoHOJ4GbQLD/57aba5722bb70675e269152d540b9a43/location-01.svg"
                    class="inline-block align-bottom wrapper--scroll-icon mr-1 md:mr-0"
                  />
                  <span class="block w-full items-center text-center text-base md:mt-1">
                    RASTREO DE <br> UBICACIÓN
                  </span>
                </a>
              </li>
  
              <li class="p--xs scroll-link flex items-center py-space text-center font-bold uppercase tracking-wide text-blue-dark hover:text-blue md:block">
                <a href="#utilizationreporting" class="flex items-center md:block">
                  <img 
                    width="65" 
                    height="65" 
                    alt="8-informes" 
                    loading="lazy" 
                    src="https://images.ctfassets.net/bx9krvy0u3sx/YsKnYJVr78KdNcwfD3w8Y/0ab8ee78bb20ed21025820bf69da362e/8-reporting.svg"
                    class="inline-block align-bottom wrapper--scroll-icon mr-1 md:mr-0"
                  />
                  <span class="block w-full items-center text-center text-base md:mt-1">
                    REPORTES <br> DE UTILIZACIÓN
                  </span>
                </a>
              </li>
  
              <li class="p--xs scroll-link flex items-center py-space text-center font-bold uppercase tracking-wide text-blue-dark hover:text-blue md:block">
                <a href="#preventativemaintenance" class="flex items-center md:block">
                  <img 
                    width="65" 
                    height="65" 
                    alt="6-mantenimiento" 
                    loading="lazy" 
                    src="https://images.ctfassets.net/bx9krvy0u3sx/3lz20pIMxOaTW9x9IFzCwF/7c76e80b8f3599a9a1b3ff09ce5eb6c9/6-maintenance.svg"
                    class="inline-block align-bottom wrapper--scroll-icon mr-1 md:mr-0"
                  />
                  <span class="block w-full items-center text-center text-base md:mt-1">
                    MANTENIMIENTO <br> PREVENTIVO
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  